language: cpp
sudo: required
dist: bionic
compiler:
  - gcc
os: linux

install:
  - sudo apt-get install -y libglew-dev
  - sudo apt-get install -y libglm-dev
  - sudo apt-get install -y libglfw3-dev

script:
  - mkdir build && cd build
  - cmake ..
  - make .
  - cd ..

after_success: ./ci/after_success.sh
