language: cpp
os: linux
dist: bionic
sudo: required
branches:
  only:
  - master
  - dev
env:
  global:
  - GH_REF="github.com/Llcoolsouder/PlaygroundEngine.git"
  - secure: BueXk+xUain4zOqmM5Ty0fug3ANztcS7qMUMN/QBSSCKTQFy7D2N2m1YUFBJjGdhzidbuUfANGMfxskSOcYNC495RlgWwdoKjBaJ1eNt52WCrG//sG3YeJ13jiNI8gsOoVIGJAFgmN2J1Ym5jCw8pMcHcEWvUmoWzj4f84UTR7OdblehqllzJBbEHiNH7EaUvVt9D8yl96CGS3sIKrLwUsi8HibAFOjbNzmLXb7OniNFmTKTCAAHe8myARBDMHt7qMnvWAAa8Cb1BkqS5TVAC4k562yuefMhlvjiMGr1cX+cM/D2lhOdWHju69lHM1txM8iFnplUTqxycbZgHOJwGl31hu280BZ/enow8rqq6svHTuiT685jW71yyKPTXmTez6Ew3Vi2NLVhSCI+Idbml/VhYSnT4qFYOzR2lgUtaj+zfoSBcPvpVnW8UHa2QbZz5zAiQU9suJeV9I1z0UZlChn+LWVe4u9CxFMZOaIaSl9N09WjL54qjr+cfAqCDE5uVdmFc8v370/FUsRrEYHFpUkoMaQ3QDObN+3xV0Zi+L8nEqc/z7BvxgRqWbEOLBtG7m5BEOg1iwC0cYuxGdd3z6Bw+/VHEBozEbOfWagRlwJtn8BNo4L5BdrWWETdUdbXZocNSBSpqqU6otRucymgcqM6EZUjQ2ndl5k3nvwxxjg=
  - secure: R+yjBcCkbqjHmKZhRmFWoDqvE08WYdEQiySh16Q/99LNEuk/5ikKyEAVIsi2dwd+/OLiJdIvsP+9HhDlWoWmDPPqWUmhDpHowyGD3PpQM/DV/V86yW0l8W379gsK0ft3YMTXmk+j6bhl6TWf6mEBbWkcOPNQDeXEDKdaVS2zN1GKqoKINDlDv7hABYWe0yMd6+lhu+PNcZanTQkIKkzghdLralXHWPLI9p1gt74gBv06+FfoIjdQRu/0ReIJJxjugbng1QH4d74SGAF97LeNz6WEvZdSQdRmwekqI/wS1xw9wKX1+d2LtXssYPEqrXODSeuLyraUjM0RPXTTm/1PbrEBmTdynXFSPV2Q2GSYmDYKoPvtMQGbLgTBoZPXrGUbbk9n5BoBT6MbEmY7inRyOcxZL1KrihLp0wYEr3xEC6RMUsN2+7bAitDY3Jw9Wsy1gtX+AnwqxERgs532JU8f8ZWyE9PB+W7vI53MRGuUTWlREnmgYByJ2JkncptGtKuLAF96PF2md5WUTZSHgTUJvt1xkPmFlvNx0qHeiLqf3GyX3LbPiH/6kQcOBpVKg9EhZBsAxGBTxrADJTZrhdbdVSXYMyrxGI58tlAxsoGjrLxF5UYxsP9ZNgIcTQmT5/HTqgGDVgnRLn9lsYIpNFOJq2kOKVpuY8wHoVr+YXVZ678=
compiler:
- gcc
- clang
addons:
  apt:
    packages:
    - libglew-dev
    - libglm-dev
    - libglfw3-dev
    - doxygen
    - lcov
services:
  - xvfb
script:
- mkdir build && cd build
- cmake -DCODE_COVERAGE=ON ..
- cmake --build .
- xvfb-run -a ctest --verbose
- ../ci/codecov.sh
- cd ..
jobs:
  include:
  - stage: deploy_docs
    if: branch = master
    script:
    - git checkout master
    - "./ci/build_docs.sh"
    - "./ci/generate_todo_list.sh"
    - "./ci/commit_changes.sh"
